{{#if posts}}
{{#each posts as |post| }}
<div class="post">
    <div class="postUpper flexy toSides">
        <div class="postHeadline">
            {{post.headline}}
        </div>
        <div class="postInfo">
            Posted by {{post.user_id}}
        </div>
    </div>
    <div class="postLower">
        {{post.content}}
    </div>
</div>
{{/each}}
{{/if}}

{{!-- if there aren't any posts yet, this will appear --}}
{{#unless posts}}
<div>Be the first to post!  You can post from the dashboard once you have logged in!</div>
{{/unless}}